body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
}

ul {
    display: inline;
}

.nav {
    display: inline-block;
    width: 155px;
    font-size: 16px;
    border: 1px solid #000000 ;
    margin: 0;
    text-align: center;
}

.home {
    display: inline;
    margin: 0 0 0 10px;
    padding: 0 0 10px 0;
}

.card {
    width: 480px;
    background: #f3e56a;
    margin: auto;
    padding: 0;
}

.headheadline {
    height: 30px;
}

.headline {
    width: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    text-align: center;
    display: inline-block;
    margin: 0;
}
#marked {
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(63, 63, 63);
}
.unmarked {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    font-weight: bold;
    margin: 0;
}